<div id="map"></div>
<script>
  $( document ).ready(function() {

    var map = L.map('map', {zoomControl: false}).setView([-15.77835833463309, -47.88219451904297], 10);
    var markers = new Array();
    var tipos = new Array();
    var subtipos = new Array();

    L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Mapas <a href="http://nesp.unb.br/obsam/" alt="OBSAM" target="_blank">OBSAM</a> - OpenStreetMap', maxZoom: 18,}).addTo(map);
    L.control.zoom({position:'topright'}).addTo(map);

    <% if @tipos %>
      <% @tipos.each do |tipo| %>
        tipos["<%= tipo[0] %>"] = L.layerGroup();
      <% end %>
    <% end %>

    <% if @subtipos %>
      <% @subtipos.each do |subtipo| %>
        subtipos["<%= subtipo[0] %>"] = L.layerGroup();
      <% end %>
    <% end %>

    <% if @dispositivos %>
      <% @dispositivos.each do |dispositivo| %>
        <% if dispositivo.latitude and dispositivo.longitude %>

           <% if @icons[dispositivo.tipo] %>
             var Icon = L.icon({iconUrl: '/assets/marker-icon-<%= @icons[dispositivo.tipo] %>.png'});
          <% else %>
             var Icon = L.icon({iconUrl: '/assets/marker-icon.png'});
          <% end %>

          markers["<%= dispositivo.slug %>"] = L.marker([<%= dispositivo.latitude %>, <%= dispositivo.longitude %>], {icon: Icon})
          markers["<%= dispositivo.slug %>"].bindPopup('<b><%= link_to dispositivo.nome, dispositivo_path(dispositivo) %><br/>(<%= "#{dispositivo.tipo} - #{dispositivo.subtipo}" %>)</b>');
          tipos["<%= dispositivo.tipo %>"].addLayer(markers["<%= dispositivo.slug %>"]);
          subtipos["<%= dispositivo.subtipo %>"].addLayer(markers["<%= dispositivo.slug %>"]);
        <% end %>
      <% end %>
    <% end %>


   layerTipoControl = L.control.layers(null, null, {position: 'topleft'}).addTo(map);
   // layerSubTipoControl = L.control.layers().addTo(map);

   <% if @tipos %>
     <% @tipos.each do |tipo| %>
       layerTipoControl.addOverlay(tipos["<%= tipo[0] %>"], "<%= tipo[0] %>");
     <% end %>
   <% end %>

   <% if @subtipos %>
     <% @subtipos.each do |subtipo| %>
       layerTipoControl.addOverlay(subtipos["<%= subtipo[0] %>"], "<%= subtipo[0] %>");
     <% end %>
   <% end %>
  });
</script>
