<%= form_for(image, html: { multipart: true }) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> encontrado(s):</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label t(:title), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label t(:file), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.file_field :file, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label 'Tags', class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_field :tag_list, value: @image.tag_list.to_s, class: "form-control" %>
    </div>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit t(:submit), class: "btn btn-primary" %>
  </div>

<% end %>
