<% if ! @dispositivos.empty? %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), dispositivos_path, :class => "nav-link active" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to t(:new), new_dispositivo_path, :class => "nav-link" %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active">
  <br/>
    <div class="search-box">
      <%= form_tag(dispositivos_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Buscar", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>

    <br/>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cidade</th>
          <th>UF</th>
          <th>Política Pública</th>
          <th>Tipo</th>
          <% if user_signed_in? %> <th colspan="3"></th> <% end %>
        </tr>
      </thead>

      <tbody>
        <% @dispositivos.each do |dispositivo| %>
        <tr>
          <td><%= link_to truncate(dispositivo.nome, length: 50), dispositivo_path(dispositivo) %></td>
          <td><%= dispositivo.cidade %></td>
          <td><%= dispositivo.uf %></td>
          <td><%= dispositivo.politica_publica %></td>
          <td><%= dispositivo.tipo %></td>

          <% if user_signed_in? %>
            <td>
              <% if current_user.admin? %>
                <%= link_to t(:edit), edit_dispositivo_path(dispositivo), :class => 'btn btn-warning btn-sm' %>
                <%= link_to t(:destroy), dispositivo, method: :delete, data: { confirm: 'Você tem Certeza?' }, :class => 'btn btn-danger btn-sm' %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <h3>Nenhum Registro Encontrado. <%= link_to 'Cadastrar?', new_dispositivo_path %></h3>
<% end %>
