<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), dispositivos_path, :class => "nav-link" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to t(:new), new_dispositivo_path, :class => "nav-link" %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to "#{t(:details)} #{@dispositivo.nome}", dispositivo_path(@dispositivo), :class => "nav-link active" %>
  </li>
</ul>

<br/>

<div class="tab-content">
  <div class="tab-pane active">
    <dl class="row">
      <dt class="col-sm-3"><strong>Nome:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.nome %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Logradouro:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.logradouro %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Cidade:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.cidade %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>UF:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.uf %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>CEP:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.cep %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Telefone(s):</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.telefone %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>E-mail:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.email %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Política Pública:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.politica_publica %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Tipo de Atendimento:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.tipo_atendimento %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Dias de Atendimento:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.dias_atendimento %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Horário de Atendimento:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.horario_atendimento %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Clientela:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.clientela %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Área de Abragência:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.area_abrangencia %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Dias Para Primeiro Atendimento:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.primeiro_atendimento %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Documentação para Atendimento:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.documentacao_atendimento %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Formas de Pagamento(s):</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.pagamento %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Descrição:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.descricao %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Tipo:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.tipo %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Sub Tipo:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.subtipo %>&nbsp;</dd>

      <dt class="col-sm-3"><strong>Responsável:</strong></dt>
      <dd class="col-sm-9"><%= @dispositivo.user.fullname %>&nbsp;</dd>
    </dl>

    <% if @dispositivo.latitude and @dispositivo.longitude %>
      <div id="map" style="width:800px;"></div>

      <script>
        $( document ).ready(function() {
          var map = L.map('map').setView([-15.77835833463309, -47.88219451904297], 10);
          L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Mapas OBSAM - Leaflet - OpenStreetMap', maxZoom: 18,}).addTo(map);
          L.marker([<%= @dispositivo.latitude %>, <%= @dispositivo.longitude %>]).addTo(map);
        });
      </script>
    <% end %>

    <hr/>
    <% if user_signed_in? %>
      <% if current_user.admin? or @dispositivo.user.id == current_user.id %>
        <div class="form-actions">
          <%= link_to t(:back), dispositivos_path, :class => 'btn btn-success'  %>
          <%= link_to t(:edit), edit_dispositivo_path(@dispositivo), :class => 'btn btn-warning' %>
          <%= link_to t(:destroy), dispositivo_path(@dispositivo), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) }, :class => 'btn btn-danger' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
